@import "tailwindcss";

/* Configure dark mode to use data-theme attribute for Tailwind v4 */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

@layer base {
  body {
    background-color: #F7F7F8;
    position: relative;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;

    background-image: url("./assets/svg/Dot grid.svg");
    background-repeat: repeat;
    background-position: center;
    background-size: 60%;

    filter: grayscale(100%) brightness(0.7);
    opacity: 0.35;

    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
    );

    pointer-events: none;
    z-index: -1;
  }
}
